@{
    ViewBag.Title = "Contact";
}

<address>
    911 James Street<br />
    South Elgin, IL 60177<br />
    <abbr title="Phone">P:</abbr>
    618.406.9928
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">benjaminallen1985@gmail.com</a><br />
</address>