@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>A Web-based contacts manager.</h1>
    <p class="lead">A simple CRUD web application for managing contacts using ASP.NET, Bootstrap, jQuery, some JavaScript, and a web-hosted server.</p>
    <p class="lead">Create an account with your email, or use your facebook account.</p>
    <p class="lead">Add contact information, and search through your personal database with organized datatables.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Awesome Web Hosting</h2>
        <p>
            AppHarbor offers great free services to practice.
        </p>
        <p><a class="btn btn-default" href="https://appharbor.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ready Made Bootstrap Themes</h2>
        <p>Bootswatch offers a selection of themes for free</p>
        <p><a class="btn btn-default" href="https://bootswatch.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DataTable plug-ins</h2>
        <p>DataTables.net offers great plug-ins, ready to go.</p>
        <p><a class="btn btn-default" href="https://datatables.net/">Learn more &raquo;</a></p>
    </div>
</div>