@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">A simple web application using ASP.NET, Bootstrap, jQuery, some JavaScript, and a web-hosted server.</p>
    <p class="lead">Create an account with either your email, or use your facebook account.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Awesome Web Hosting</h2>
        <p>
            AppHarbor offers great free services for beginners like myself to practice.
        </p>
        <p><a class="btn btn-default" href="https://appharbor.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ready Made Bootstrap Themes</h2>
        <p>Bootswatch offers tons of free themes, ready to go out of the zip file</p>
        <p><a class="btn btn-default" href="https://bootswatch.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DataTable plug-ins</h2>
        <p>DataTables.net offers great plug-ins, ready to go.</p>
        <p><a class="btn btn-default" href="https://datatables.net/">Learn more &raquo;</a></p>
    </div>
</div>