<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AppId" value="414433952231125" xdt:Transform="Remove"/>
    <add key="AppSecret" value="b202da800aa1892e3992347f62a46770" xdt:Transform="Remove"/>
    <add xdt:Transform="Insert" key="AppId" value="414414995566354"/>
    <add xdt:Transform="Insert" key="AppSecret" value="ec501e4faf3c8cbbc2e791d5df342b49"/>
  </appSettings>
  <connectionStrings>
    <add name="ContactProjectContext" xdt:Transform="Remove"/>
    <add name="ContactProjectContext" 
         connectionString="Server=b8efa895-ede7-41df-9784-a7110044e9b6.sqlserver.sequelizer.com;Database=dbb8efa895ede741df9784a7110044e9b6;User Id=hzeyhefrdkdnjmgz;Password=zU27Fs5Gc5Z3FuWGqczoDVipcDgSYLNdUcUL7wm8bK4ustiVKGqsdaALLL4cmmRy;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Insert" />
        
    <add name="DefaultConnection"  
         connectionString="Server=b8efa895-ede7-41df-9784-a7110044e9b6.sqlserver.sequelizer.com;Database=dbb8efa895ede741df9784a7110044e9b6;User Id=hzeyhefrdkdnjmgz;Password=zU27Fs5Gc5Z3FuWGqczoDVipcDgSYLNdUcUL7wm8bK4ustiVKGqsdaALLL4cmmRy;" 
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"/>

    
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
